<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               class="sidenav"
               fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/']" mat-list-item>Home</a>
      <a [routerLink]="['/postings']" mat-list-item>Postings</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>blueprint App</span>
      <span class="spacer"></span>

      <span class="user-buttons">
        <button (click)="toProfile()" *ngIf="(authService.user$ | async)?.uid" mat-icon-button>
          <img *ngIf="(authService.user$ | async)?.photoURL" [src]="(authService.user$ | async)?.photoURL" alt=""
               height="28px" width="28px">
          <mat-icon *ngIf="!(authService.user$ | async)?.photoURL">account_box</mat-icon>
        </button>
        <button (click)="onLogout()" *ngIf="(authService.user$ | async)?.uid" mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <button (click)="toSignup()" *ngIf="!(authService.user$ | async)?.uid" mat-icon-button>
          <mat-icon>settings_power</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
