<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false"
               class="sidenav"
               fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.close()" [routerLink]="['/']" mat-list-item>Home</a>
      <a (click)="drawer.close()"
         *ngIf="(userService.user$ | async)?.uid"
         [routerLink]="['/articles']"
         mat-list-item>
        Article
      </a>
      <a (click)="drawer.close()"
         *ngIf="!(userService.user$ | async)?.uid"
         [routerLink]="['/user/login']"
         mat-list-item>
        Login
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="true"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Blueprint App</span>
      <span class="spacer"></span>

      <span class="user-buttons">
        <button (click)="toProfile()" *ngIf="(userService.user$ | async)?.uid" mat-icon-button>
          <img *ngIf="(userService.user$ | async)?.photoURL" [src]="(userService.user$ | async)?.photoURL" alt=""
               height="28px" width="28px">
          <mat-icon *ngIf="!(userService.user$ | async)?.photoURL">account_box</mat-icon>
        </button>
        <button (click)="onLogout()" *ngIf="(userService.user$ | async)?.uid" mat-icon-button>
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <button (click)="toSignup()" *ngIf="!(userService.user$ | async)?.uid" mat-icon-button>
          <mat-icon>settings_power</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
